pytest~=6.2.2
pandas~=1.3.5
setuptools~=52.0.0
panel~=0.12.6
pyyaml~=5.4.1
numpy~=1.21.0
xarray~=0.16.2
shapely~=1.8.0
netcdf4~=1.5.8
python-crontab~=2.5.1
click~=8.1.2
matplotlib
holoviews~=1.14.6
hvplot~=0.7.3
windrose~=1.6.8
